#container{
    border: 2px solid black;
    max-width: 95%;
	margin: 30px;
	overflow: auto;
	min-height: 400px;
	padding: 30px;
    background-color: rgb(37, 85, 124);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgb(44, 43, 43);
    font-size: 30px;
}

#pokeImg img{
    width: 200px;
}
#pokeImg{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 10px;
    padding: 0;
}


button{
    margin: 30px auto;
    min-height: 50px;
    width: 40%;
    border-radius: 10px;
    border:1px solid black;
    font-size: 200%;
    background-color: rgb(67, 126, 67);
}
body{
    text-align: center;
}